* {
    background-color: #191919; 
    color: #e0e0e0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr {
    width: 80%; 
    border-color: #424242; 
}

h3 {
    text-align: center;
    color: #64b5f6; 
}

input {
    background: #424242; 
    color: #e0e0e0; 
    border: none;
    padding: 8px; 
}

button {
    cursor: pointer;
    padding: 8px 12px; 
    border: none; 
    border-radius: 3px; 
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 15px; 
    margin: 10px; 
    border: 1px solid #424242; 
    border-radius: 5px; 
    background-color: #333;
}

.products-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.products-form input {
    margin-bottom: 10px; 
    border-radius: 3px; 
}

#button-create {
    background: #4caf50; 
    color: #fff; 
}

#button-delete {
    background: #f44336;
    color: #fff; 
}
